h1 {
    font-size: 16px;
    font-family: serif;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    text-decoration: underline;
    color: greenyellow;
    background-color: black ;
}

h2 {
    font-size: 14px;
    font-family: serif;
    padding: 2px;
    margin: 2px;
    font-weight: lighter;
    color: blue;
    background-color: aliceblue;
}

p {
    font-family: sans-serif;
    font-size: 12px;
    padding: 2px;
    margin: 2px;
    color: white;
    background-color: black;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: chocolate;
    height: 24px;
    width: 24px;
}
